@media all and (max-width: 1200px) {
    //    Nav
    nav {
        width: 950px;
    } //    index
    header {
        .slider-container {
            display: none;
        }
    }

    #below-header {
        .below-header-up {
            width: 950px;
        }
        .below-header-down {
            height: auto;

            .container-box {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                width: 90%;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding-top: 25px;

                .boxes {
                    margin: 0px 15px 25px 15px;
                    position: relative;
                    width: 90%;
                    height: 100px;

                    img {
                        position: absolute;
                        left: 5px;
                    }
                }
            }
            .tree {
                display: none;
            }
        }
    } //    About-us
    section {
        .about-firm {
            width: 100%;
            padding-bottom: 25px;
        }
    }


    #opinion {
        .opinion-container {
            .photo-of-book {
                img {
                    width: 400px;
                }
            }
        }
        .opinion-slider-container {
            margin-left: 0;
        }
    } //    Offer
    section {
        #akt {
            h2 {
                margin-top: 50px;
            }
            .akt-container {
                width: 84%;
                img {
                    width: 480px;
                }
            }
        }

        .admission-rules {
            .admission-rules-container {
                width: 76%;
            }
            .decision {
                width: 76%;
            }
        }
    }

    #provide {
        .provide-up {
            width: 80%;
        }
        .comercial {
            width: 80%;
        }
    }

    #help {
        p {
            width: 80%;
        }
    }

    #questions {
        .telefon-header {
            padding-top: 60px;
            padding-bottom: 20px;
        }
    } //    Work
    #work {
        width: 80%;
    } //Gallery
    #gallery {
        .gallery-container {
            width: 80%;
            .left-gallery {
                margin-top: 35px;
                h3 {
                    margin-top: 0;
                }
            }
            .right-gallery {
                img {
                    width: 450px;
                }
            }
        }

        .photos-container {
            width: 80%;
        }
    } //    Download
    #download {
        .documents {
            .documents-container {
                width: 80%;
            }
        }
        .download-files {
            .download-files-container {
                width: 80%;
            }
        }
    }

    #contact {
        .contact-container {
            width: 80%;

            .right-contact {
                form {
                    input,
                    textarea {
                        width: 450px;
                    }
                }
            }
        }
        .map-container {
            width: 80%;

            #doz,
            #siem {
                div {
                    width: 450px;
                    height: 350px;
                }
            }
        }
    }

    footer {
        .footer-down {
            width: 100%;
        }
    }
}



@media all and (max-width: 992px) {
    nav {
        width: 100%;
        .logo {
            img {
                height: 25px;
                top: 5px;
                bottom: 0;
            }
        }
        ul {
            margin-top: 20px;
        }
    } //    Index 
    #below-header {
        .below-header-up {
            width: 768px;
            img {
                width: 210px;
                height: 210px;
            }
            .right-side {
                h2 {
                    font-size: 20px;
                }
                a {
                    height: 60px;
                }
            }
        }
    } //    About-us
    #about {
        .about-firm {
            padding-top: 10px;
            img {
                width: 260px;
                height: 252px;
            }
            .right-side {
                padding-left: 30px;

                h2 {
                    font-size: 25px;
                }
                p {
                    width: 98%;
                }
            }
        }
    }
    #centers {
        .photos {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .left {
                padding-right: 15px;

            }
            .right {
                padding-left: 15px;
            }
        }
    }

    #opinion {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 0;
        .opinion-slider-container {
            width: 98%;
        }
    } //    Offer
    section {
        #akt {
            .akt-container {
                width: 98%;
                .right-side {
                    padding-left: 10px;
                    img {
                        width: 410px;
                    }
                }
            }
        }
        .admission-rules {
            .admission-rules-container,
            .decision {
                width: 95%;
            }
        }
    }
    #provide {
        .provide-up,
        .comercial {
            width: 95%;
        }
    }
    #help {
        h2 {
            padding-top: 60px;
            margin-bottom: 40px;
        }
    }
    #questions {
        form {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            .right-side {
                margin-left: 0;
            }
            button {
                position: static;
                margin-left: 0;
                margin-top: 0;
            }
            .left-side,
            .right-side {
                input,
                textarea {
                    width: 600px;
                }
            }
        }
    } //    Work
    #work {
        width: 80%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    } //    Gallery
    #gallery {
        .gallery-container,
        .photos-container {
            width: 95%;
        }
    } //    Download
    #download {
        .documents {
            .documents-container {
                width: 80%;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                .right-document {
                    margin-left: 0;
                }
            }
        }
        .download-files {
            .download-files-container {
                width: 95%;
            }
        }
    } //    Gallery
    #gallery {
        .gallery-container {
            .right-gallery {
                img {
                    width: 350px;
                }
            }
        }
    } //    Contact
    #contact {
        .contact-container {
            width: 95%;
            .right-contact {
                form {
                    input,
                    textarea {
                        width: 370px;
                    }
                }
            }
        }
        .map-container {
            width: 95%;

            #doz,
            #siem {
                div {
                    width: 350px;
                    height: 250px;
                }
            }
        }
    }

    footer {
        .footer-up {
            width: 98%;
        }
    }
}

@media all and (max-width: 768px) {

    nav {
        -webkit-box-pack: none;
        -ms-flex-pack: none;
        justify-content: none;
        text-align: inherit;
        display: block; //        background-color: rgba(255, 255, 255, 0.5);
        .logo {
            top: 23px;
        }

        .toggle {
            display: block;
            background-color: rgba(255, 255, 255, 0.5);
            height: 50px;
            z-index: 8;
        }
        .nav-list {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: unset;
            -ms-flex-pack: unset;
            justify-content: unset;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            max-height: none;
            overflow: hidden;
            padding: 0;
            text-align: center;
            height: 0;
            -webkit-transition: all 1s;
            transition: all 1s;
            margin-top: 0;

            li {
                line-height: 35px;

                /*               &:first-of-type{
                    border-top:  1px solid #169629;
                }*/
            }

            .lenguage-below {
                display: block;
            }
        }
        /*        .hidden{
            height: 0;
            transition: all 1s;
        }*/
        .show {
            -webkit-transition: all 1s;
            transition: all 1s;
            height: 320px;
        }


        .nav-number,
        .lenguage {
            display: none;
        }
    } //    Index 
    header {
        #slider1 {
            height: 70vh;
            .slider-slides-cnt {
                height: 70vh;
                .slider-slide {
                    height: 70vh;
                }
            }
        }
    }
    #below-header {
        .below-header-up {
            width: 90%;
            img {
                display: none;
            }
            .right-side {
                padding-left: 0;
            }
        }
        .below-header-down {
            .container-box {
                width: 100%;
                .boxes {
                    width: 100%;

                    p {
                        padding-left: 100px;
                    }
                }
            }
        }
    } //    About-us
    #about {
        .bookmark {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            a {
                line-height: 58px;
                width: 95%;
                margin: 10px 20px 20px 20px;
            }
        }
        .about-firm {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-left: 0;
            padding-top: 0;

            img {
                width: 220px;
                height: 213px;
                display: none;
            }

            .right-side {
                padding-left: 30px;
                h2 {
                    font-weight: 500;
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 300;
                    width: 98%;
                }
            }
        }
    } 
    
    #opinion {
        .opinion-slider-container {
            .opinion-slider{
                height: 400px;
            }
        }
    }
    
    //    Offer
    #offer {
        .bookmark {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            a {
                line-height: 58px;
                width: 95%;
                margin: 10px 20px 20px 20px;
            }
        }
        #akt {
            .akt-container {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                .right-side {
                    padding: 0;
                    img {
                        width: 90%;
                    }
                }
            }
        }
        .admission-rules {
            .admission-rules-container {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                .left-side,
                .right-side {
                    width: 100%;
                }

                .right-side {
                    padding-left: 0;
                }
            }
        }
    }

    #provide {
        h2 {
            margin-bottom: 0;
        }
        .provide-up {
            .provide-side-container {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                .left-side,
                .right-side {
                    width: 100%;
                }
            }
        }
        .comercial {
            margin-top: 50px;
            .options {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                .left-side,
                .right-side {
                    width: 100%;
                }
            }
        }
    }
    #help{
        h2{
            padding-top: 30px;
        }
    }

    #questions {
        form {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            .right-side {
                margin-left: 0;
            }
            button {
                position: static;
                margin-left: 0;
                margin-top: 0;
            }
            .left-side,
            .right-side {
                input,
                textarea {
                    width: 600px;
                }
            }
        }
    } 
    
//    Work
    
    #work{
        padding-top: 40px;
    }
    
    
    //    Gallery
    #gallery {
        .photos-container {
            .photos {
                width: 32%;
            }
        }
    } //    Download
    #download {
        .download-files {
            padding-bottom: 80px;
            .download-files-container {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                .files {
                    padding-bottom: 80px;
                    p {
                        margin-bottom: 0;
                    }
                    &:last-of-type {
                        padding-bottom: 0px;
                    }
                }
            }
        }
    } //    Contact
    #contact {
        .contact-container {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 30px;

            .left-contact {
                width: 70%;
                text-align: center;
                padding-bottom: 30px;
            }

            .right-contact {
                margin-left: 0;
                width: 90%;

                text-align: center;

                form {
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;

                    input,
                    textarea {
                        width: 100%;
                    }
                }
            }
        }

        .map-container {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            #doz,
            #siem {
                width: 100%;
                div {
                    width: 100%;

                    background-position: center;
                    background-repeat: no-repeat;
                    height: 420px;
                }
            }
        }
    }
}


@media all and (max-width: 480px) {


    //    Footer
    footer {
        .footer-up {
            display: block;
            a {
                margin: 0;
                padding: 5px;
            }
            .menu {
                padding: 0;
                .menu-details {
                    a {
                        padding: 5px;
                        margin: 0;
                    }
                }
            }
            .media {
                margin: 0 0 20px 0; //                margin: 0;
                a {
                    margin: 0px;
                    padding: 5px;
                }
            }
        }
        .footer-down {
            display: block;
            padding: 5px;
            p {
                text-align: center;
                margin: 5px;
                padding: 0;
            }
        }
    }
}
